@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
	--bg-color: #eaeaea;
	--header-bg-color: #dddddd;
	--index-entry-hovered: #c9c9c9;
	--fg-color: #212121;
	--bruno-accent: #cc9900;
	--jorge-accent: #7b9efc;
	--rodrigo-accent: #cf7bfc;
	--combined-accent: linear-gradient(#cc9900, #7b9efc, #cf7bfc);
}

body {
	font-family: "Chakra Petch", serif;
	font-weight: 400;
	font-size: 1.25em;

	background-color: var(--bg-color);
	color: var(--fg-color);
}

h1 {
	font-size: 3em;
	margin: 0.25em;
	margin-right: 2em;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	background-color: var(--header-bg-color);
	padding: 0.75em 0;
	border-radius: 1em;
}

header>nav {
	display: flex;
	flex-direction: column;
}

.entry {
	display: flex;
	flex-direction: row;

	width: fit-content;
}

.entry>img {
	width: 1.25em;
	margin-right: 0.45em;
}

.entry>a {
	font-size: 1.65em;
	text-decoration: none;
	color: var(--fg-color);
}

a#bruno-geogebra:hover {
	color: var(--bruno-accent)
}

a#jorge-geogebra:hover {
	color: var(--jorge-accent)
}

a#rodrigo-geogebra:hover {
	color: var(--rodrigo-accent)
}

.geogebra-showcase {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#index-container {
	display: flex;
	position: absolute;
	flex-direction: column;
	align-items: center;

	background-color: var(--header-bg-color);
	border-radius: 0.75em;
	margin-top: 0.5em;
}

#index-container>h2 {
	width: 100%;
	margin: 0;
	padding: 1em 2em;

	text-align: center;

	background-image: linear-gradient(43.31deg, var(--bruno-accent), var(--rodrigo-accent), var(--jorge-accent));
	color: transparent;
	background-clip: text;
}

hr {
	width: 100%;
	margin: 0;
	opacity: 50%;
}

#index-container>a {
	width: 100%;
	text-align: center;
	margin: 1em 2em;
	text-decoration: none;
	color: var(--fg-color);
}

#index-container>a:hover {
	background-image: linear-gradient(43.31deg, var(--bruno-accent), var(--rodrigo-accent), var(--jorge-accent));
	color: transparent;
	background-clip: text;
}

#problem-body {
	display: flex;
	flex-direction: column;
	justify-content: center;

	margin: 0 17vw;
}

#problem-resolution {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#problem-body>h2 {
	margin: 1em 0 0 0;
}

#problem-body>p {
	text-align: justify;
}

#total-points,
#problem-body>ol {
	margin: 0 0 1em 0;
}

#start-conditions {
	margin: 1em 0 0.55em 0;
}

.b-accent {
	color: var(--bruno-accent);
}

.j-accent {
	color: var(--jorge-accent);
}

.r-accent {
	color: var(--rodrigo-accent);
}

.combo-accent {
	background-image: linear-gradient(43.31deg, var(--bruno-accent), var(--rodrigo-accent), var(--jorge-accent));
	color: transparent;
	background-clip: text;
}

@media screen and (max-width: 1698px) {
	#index-container {
		display: none;
		opacity: 0;
		transition: visibility 0s 0.2s, opacity 0.2s linear;
	}
}

@media screen and (min-width: 1698px) {
	#index-container {
		visibility: visible;
		opacity: 1;
		transition: opacity 0.2s linear;
	}
}
